/* Pseudo-elements */
    /* Adds content before each paragraph */
    /* p::before {
        content: "Note: ";
        font-weight: bold;
        color: red;
    } */

    /* Adds content after each paragraph */
    /* p::after {
        content: " (read more)";
        color: rebeccapurple;
    } */

    /* Styles the first letter of the paragraph */
    /* p::first-letter {
        font-size: 2em;
        color: purple;
    } */

    /* Styles the first line of text in the paragraph */
    /* p::first-line {
        font-weight: bold;
        color: darkgreen;
    } */

    /* Changes style for selected text */
    /* ::selection {
        background-color: rgb(174, 19, 169);
        color: rgb(17, 17, 17);
    } */

    /* Pseudo-classes */
    /* Style a link when hovered */
    a:hover {
        color: green;
        /* cursor: not-allowed; */
        /* cursor: alias; */
        /* cursor: copy; */
    }

    /* Style a link when clicked */
    /* a:active {
        color: rgb(152, 21, 217);
    } */

    /* Style an element when it gains focus */
    /* input:focus {
        outline: 2px solid red;
    } */

    /* Target the first child of its parent */
    p:first-child {
        font-style: italic;
    }

    /* Target all even-numbered list items */
    li:nth-child(even) {
        background-color: lightgray;
    }
    p:nth-child(2) {
        color: blue;
    }
