*{
    margin: 0;
    padding: 0;
}
body{
    /* background-image: url(http://127.0.0.1:3000/img/picture%201.jpg); */
    background: content-box radial-gradient(crimson, skyblue);

    background-size: cover;
}
.container{
    padding-top: 2%;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    width: 80%;
    height: 95vh;
    background: rgb(13, 10, 10);
    opacity: 0.8;
    margin: auto;
    
}
.flex{
    display: flex;
}
#line{
    width: 100%;
    height: 1px;
    background-color: aqua;
}
.text{
    width: 80%;
}
.RC-btn{
    width: 20%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item{
    opacity: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: larger;
    background: aqua;
}
.input{
    width: 80%;
    background-color: black;
    color: white;
    height: 50px;
}
.BTN{
    margin:5px;
    padding: 10px 15px;
    border-radius: 100px;
    border: 2px solid rebeccapurple;
}